<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" id="main-nav">
        <div class="container">
            <a class="navbar-brand" href="#">LoopLab</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">SignUp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header id="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-7">
                    <div class="card bg-primary text-center card-form">
                        <div class="card-body">
                            <h3>Sign Up</h3>
                            <form action="/signup" method="POST">
                                <p id="getMessage"></p>
                                <div class="form-group">
                                    <input type="text" name="email" class="form-control form-control-lg"
                                        placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" class="form-control form-control-lg"
                                        placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="firstName" class="form-control form-control-lg"
                                        placeholder="First Name">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="lastName" class="form-control form-control-lg"
                                        placeholder="Last Name">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="age" class="form-control form-control-lg"
                                        placeholder="Age">
                                </div>
                                <input type="submit" value="Submit" class="btn btn-outline-light btn-block">
                                <input type="hidden" value="{{errorMessage}}" id="errorValue">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {{errorMessage}}
    <script>
        const message = document.getElementById('errorValue').value
        //message="abc"
        if (message.length > 0) {
            document.getElementById('getMessage').innerHTML = message
        } else {
            document.getElementById('getMessage').innerHTML = ''
        }
        console.log("Message " + message)

    </script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

</body>

</html>