<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <!-- <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" (click)="onSelect('recipe')"
          >Recipes<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onSelect('shopping-list')"
          >ShoppingList</a
        >
      </li>
    </ul> -->
    <ul class="navbar-nav">
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="/recipes">Recipes<span class="sr-only">(current)</span></a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="/shopping-list">ShoppingList</a
        >
      </li>
    </ul>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Dropdown
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" style="cursor: pointer;">Save</a>
        <a class="dropdown-item" style="cursor: pointer;">Another action</a>
      </div>
    </li>
  </div>
</nav>
