body{
    background-color: #EBEBEB;
}
a{
    text-decoration: none;
    color: white;
}
.container{
    
    min-height: 500px;
    max-width: 1024px;  
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 140px;
}
.col{
    background-color: rgb(46, 223, 147);
    width: 30%;
    margin-bottom: 40px;
}
.col p{
    font-size: 0.825rem;
    padding: 20px 25px;
    line-height: 1.25rem;
}
.hide-desktop-only{
    display: none;
}

.col img{
    width: 100%;
    height: auto;
}

.col p::first-line{
    font-weight: 700;
}
.head{
    background-color: rgb(60, 60, 60);
    min-height: 100px;
    position: fixed;
    width: 100%;
}
header{
    max-width: 1024px;
    margin: 0 auto;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
}

.mybutton{
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    margin-left: 20px;
    border: 1px solid white;
}

.mob-wrapper{
    display: none;
}

@media (max-width:768px){
    .col{
        width: 45%;
    }
    .hide-desktop-only{
        display: block;
    }
    
    nav a{
        display: none;
    }
    .logo{
        padding: 40px 0;
    }
    .container{
        padding-top: 40px;
    }
    .mybutton{
        margin: 0;
    }
    .head{
        position: relative;
    }
    .mob-wrapper{
        display: block;
        padding-right: 30px ;
    }
    .mob-nav{
        display: none;
        position: absolute;
        padding-top: 10px;
    }
    .navbutton{
        display: block;
        position: relative;
        background-color: coral;
        padding: 15px 30px;
        margin-left: -70px;
    }
}

@media (max-width:400px){
    .col{
        width: 100%;
    }
    .hide-mobile{
        display: none;
    }
}